footer {
       position: inherit;
       bottom: 0;
       padding-left: 2%;
       font-size: smaller;
       color: grey;
}
img {
    width: 75%;
    height: 75%;
}
.jumbotron {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
@media only screen and (min-width: 600px) {
    img {
        width: 50%;
        height: 50%;
    }
}
@media only screen and (min-width: 768px) {
    img {
        width: 25%;
        height: 25%;
    }
}