<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Styling/CSS -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'landing/audience.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}">

  <title>Backrow Audience</title>
</head>

<body>
  <div class="jumbotron pb-0">
    <h1 class="display-4">Audience</h1>
    <p class="lead">Ask questions, be heard</p>
    <div class="row justify-content-left mt-5 mb-0">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/picker/">Present</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/#">Audience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
      <ul class="nav nav-tabs form-inline my-2 my-lg-0">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          {% else %}
          <a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center w-75 bg-light mb-3">
      <div class="card-body p-5">
        <form>
          <div class="form-group">
            <p class="card-title h5 lead">Search for presentations</p>
            <input type="card-text" class="form-control" id="InputURL" placeholder="Presentation URL">
          </div>
          <div class="row justify-content-center">
            <input id="InputURLSubmit" type="button" class="btn btn-primary" value="Search" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Script for searching for presentation-->
  <!--TODO: Implement database to hold access code & url-->
  <script>
    document.querySelector('#InputURL').focus();
    document.querySelector('#InputURL').onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#InputURLSubmit').click();
      }
    };

    document.querySelector('#InputURLSubmit').onclick = function (e) {
      var roomName = document.querySelector('#InputURL').value;
      try {
        var i = new URL(roomName)
        window.location.assign(roomName);
      } catch (error) {
        alert("Presentation does not exist! Please enter a valid URL :)");
      }
    };
  </script>
  <footer class="container">
    <p> © BackRow 2019 </p>
  </footer>
</body>

</html>