<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Backrow</title>
  </head>

  <body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Backrow</h1>
        <p class="lead">Never miss a question again</p>
    </div>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-auto">
          <a href="/picker" role="button" class="btn btn-outline-primary">Presentor</a>
        </div>
        <div class="col-sm-auto">
          <a href="/audience" role="button" class="btn btn-outline-primary">Audience</a>
        </div>
    </div>
  </div>
  </body>
</html>
