<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}">
  <title>Backrow</title>
</head>

<body>
  <div class="jumbotron">
    <div class="row justify-content-center">
      {% load static %}
      <img src="{% static 'images/backrow4.png' %}" class="img-responsive p-0 m-0" alt="backrow logo">
    </div>
  </div>
  <div class="container">
  <div class="row justify-content-center">
    <div class="d-flex flex-wrap justify-content-center">
        <a href="/picker" role="button" class="btn-lg btn-primary p-2 m-3">Presenter</a>
        <a href="/audience" role="button" class="btn-lg btn-primary p-2 m-3">Audience</a>
    </div>
  </div>
</div>
  <footer class="container">
    <p> © BackRow 2019 </p>
  </footer>
</body>

</html>
