<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- end bootstrap-->

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Backrow</title>

    <!-- Google picker singin for app-->
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>

    <script type="text/javascript">

    // The Browser API key obtained from the Google API Console.
    // Replace with your own Browser API key, or your own key.
    var developerKey = 'AIzaSyCrxrxcBX8qnLNqzPrgttx8QJPit_KBLnA';

    // The Client ID obtained from the Google API Console. Replace with your own Client ID.
    var clientId = "23691329613-m5rp3bk6t0de4nd07tlocssth46pp7pd.apps.googleusercontent.com"

    // Replace with your own project number from console.developers.google.com.
    // See "Project number" under "IAM & Admin" > "Settings"
    var appId = "23691329613";

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive'];

    var pickerApiLoaded = false;
    var oauthToken;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {
      gapi.load('auth', {'callback': onAuthApiLoad});
      gapi.load('picker', {'callback': onPickerApiLoad});
    }

    function onAuthApiLoad() {
      window.gapi.auth.authorize(
          {
            'client_id': clientId,
            'scope': scope,
            'immediate': false
          },
          handleAuthResult);
    }

    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }

    function handleAuthResult(authResult) {
      if (authResult && !authResult.error) {
        oauthToken = authResult.access_token;
        createPicker();
      }
    }

    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        var view = new google.picker.View(google.picker.ViewId.DOCS);
        //view.setMimeTypes("image/png,image/jpeg,image/jpg");
        var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
         picker.setVisible(true);
      }
    }

    // A simple callback implementation.
    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        var fileId = data.docs[0].id;
        alert('The user selected: ' + fileId);
        document.getElementById("slideID").value = fileId;
      }
    }

    function buildPresentation() {
      var fileId = document.getElementById("slideID").value;
      // TODO: change domain name later
      var url = 'http://localhost:8000/presentation/' + fileId;
      window.location.assign(url);
    }

    </script>
  </head>
  <body>
    <div id="result"></div>
    <div class="jumbotron">
        <h1 class="display-4">Present</h1>
        <p class="lead">Share your presentation with the audience</p>
    </div>
    
    <!-- Form where fileId will fill input box -->
    <div class="row justify-content-center">
      <form>
        <input id="slideID" type="text" name="slideID" value="slideID here">
        <button type="button" onclick="buildPresentation()">Submit</button>
      </form>
    </div>    

    <!-- The Google API Loader script. -->
    <div class="row justify-content-center">
      <button onclick="loadPicker()" type="button" class="btn btn-primary">Present with Google Slides</button>
      <!-- <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script> -->
    </div>
  </body>
</html>