<!DOCTYPE html>
<html>
	<head>

		<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- end bootstrap-->

		<meta charset="UTF-8">
		<title>BackRow</title>
	</head>

	<body>
		<div class="jumbotron">
      <h1 class="display-4">Welcome to Backrow</h1>
      <p class="lead">Never miss a question again</p>
    </div>
    <div class="row justify-content-center">
			<iframe src="{{ elink }}/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
	</body>

</html>
